{% block html %}

    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>J Wine</title>
    {% endblock %}

    {% block body%}

        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" >
                
                <a class="navbar-brand color_black" href="/" style="font-weight: bold; margin-left: 100px; margin-right: 100px;"><img src="{{ url_for('static', filename='resources/img/gray_icon.png') }}" height="25" width="25">  J Wine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" id="navContent">
                        <script type="text/javascript">
                            currentNav()
                        </script>
                    </ul>
                </div>

                <div class="navbar-collapse collapse dual-collapse2" style=" margin-right: 100px;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link color_gray bold_text" href="/signin">회원가입</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

        {% block content %}{% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% endblock %}
    {% block scripts %}
        <script type="text/javascript">
            function currentNav(){
                var cur = {{ currentnav }};
                console.log(cur);
                var navHtml ='';
                navHtml += '<li class="nav-item';
                if(cur == 1){
                    navHtml += ' active';
                }
                navHtml += '"><a class="nav-link color_gray bold_text" href="/">HOME';
                if(cur == 1){
                        navHtml += '<span class="sr-only">(current)</span></a>'
                }
                navHtml += '</li>';

                navHtml += '<li class="nav-item';
                if(cur == 2){
                    navHtml += ' active';
                }
                navHtml += '"><a class="nav-link color_gray bold_text" href="/searcher">와인 검색';
                if(cur == 2){
                        navHtml += '<span class="sr-only">(current)</span></a>'
                }
                navHtml += '</li>';

                navHtml += '<li class="nav-item';
                if(cur == 3){
                    navHtml += ' active';
                }
                navHtml += '"><a class="nav-link color_gray bold_text" href="/recommend">와인 추천';
                if(cur == 3){
                        navHtml += '<span class="sr-only">(current)</span></a>'
                }
                navHtml += '</li>';

                $('#navContent').empty();
                $('#navContent').append(navHtml);
            }
            currentNav();
        </script>
    {% endblock %}
{% endblock %}